@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// VARIABLES

$color-blue: #286efa;
$color-snow: #f9f9f9;
$color-error-text: #f54b4b;
$color-error-border: #f53c3c;
$color-input-placeholder: #999;
$color-input-type: #505050;
$color-gray-light-1: #aaa;
$color-gray-light-2: #ededed;
$border-radius: 3px;
$transition-effect: all .2s ease-in-out;

// BASE STYLES

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

:root {
  font-size: 62.5%;
}

body {
  color: #333;
  line-height: 1.6;
  font-weight: normal;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}


// WRAPPER STYLE

.wrapper {
  display: flex;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

// SECTION RIGHT

.section-right {
  background-color: $color-blue;
  color: white;
  flex: 1.1;
  position: relative;

  @media screen and (max-width: 800px) {
    flex: none;
    height: 30rem;
    text-align: center;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30rem;
  }

  &__heading {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 5.6rem;
    letter-spacing: 1px;
  }

  &__text {
    font-size: 1.35rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.8;
  }
}


// SECTION LEFT

.section-left {
  flex: 2;
  background-color: #f9f9f9;

  &__heading {
    text-transform: capitalize;
  }
}


// PAGINATION

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2.4rem 3.4rem 0 0;

  &__text {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: .5rem;
    color: #222;
  }

  &__links {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 3.6px;
    color: $color-gray-light-1;
    margin-left: .7rem;
    cursor: pointer;

    &--active {
      color: #333;
    }
  } 
}


// AUTH

.auth {
  max-width: 39rem;
  margin: 12.5rem auto;
  
  &__link {
    color: $color-blue;
    text-decoration: none;
  }

  &__heading {
    letter-spacing: 1px;
  }

  &__sign-in {
    margin: 3rem 0;
    font-size: 1.2rem;
  }

  &__legal {
    font-size: 1rem;
    letter-spacing: .3px;
    line-height: 1.9;
    word-spacing: .3px;
  }

  &__sign-in, &__legal {
    a {
      margin-left: .4rem;
      font-weight: 500;
    }
  }
  
}


// FORM

.form {

  &__control {
    margin-bottom: 2rem;
    position: relative;
  }

  &__input {
    background-color: inherit;
    border: 1px solid $color-gray-light-2;
    padding: 1.5rem 1.3rem;
    font-size: 1.4rem;
    width: 100%;
    color: $color-input-type;
    border-radius: $border-radius;
    font-family: inherit;
    transition: $transition-effect;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: all 5000s ease-in-out 0s;
      transition-property: background-color, color;
    }

    &:focus {
      outline: none;
    }

    &--select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      color: $color-input-type;
      font-size: 1.3rem;
    }

    &--error{
      border: 1px solid $color-error-border;
    }
  }

  &__help {
    font-weight: 300;
    color: $color-input-placeholder;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  &__label {
    position: absolute;
    font-weight: 300;
    color: $color-input-placeholder;
    font-size: 1.3rem;
    top: 1.3rem;
    left: 1.2rem;
    background-color: $color-snow;
    padding: 0 .4rem;
    transition: $transition-effect;

    &--moveup {
      top: -10px;
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-gray-light-1;
    }

    &--error {
      color: $color-error-text;
      font-weight: 400;
    }
  }

  &__option {
    color: $color-input-placeholder;
  }

  &__error-message {
    color: $color-error-text;
    font-size: 1.2rem;
    margin-top: 1rem;
    display: none;
    transition: $transition-effect;

    &--show {
      display: block;
    }
  }

  &__with-icon{
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 1.3rem;
    top: 1.7rem;
    cursor: pointer;
    font-size: 1.1rem;
  }

  &__icon.fa-eye{
    font-size: 1rem;
  }

  &__next {
    background-color: $color-blue;
    color: white;
    border: none;
    width: 100%;
    padding: 1.4rem;
    border-radius: $border-radius;
    font-size: 1.15rem;
    cursor: pointer;
    margin-bottom: 3.4rem;
    outline: none;
    transition: $transition-effect;

    &--disabled {
      background-color: $color-gray-light-2;
      color: $color-gray-light-1;
    }
  }

}